{% extends 'base.html' %}

{% block center %}
<h2>Listar stands</h2>

<a href="{% url 'stand_criar' %}" class="btn btn-success mb-3">Novo stand</a>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>localizacao</th>
      <th>valor</th>
    </tr>
  </thead>
  <tbody>
    <!--abre o for -->
    {% for object in object_list %}
    <tr>
      <td>{{ object.localizacao }}</td>
      <td>{{ object.valor }}</td>
      <!--forma diferente de chamar as urls-->
      <td>
        <a href="{% url 'stand_editar' object.pk %}" class="btn btn-primary btn-sm">Editar</a>
        <a href="{% url 'stand_remover' object.pk %}" class="btn btn-danger btn-sm">Remover</a>
      </td>
    </tr>
    <!--fecha o for-->

    {% empty %}
    <tr>
      <td colspan="4">
        <p>Não existem stands cadastrados.</p>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>

<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>

{% for message in messages %}
  <div class="alert alert-{{ message.tags }}" role="alert">
    {{ message }}
  </div>
{% endfor %}



{% endblock %}

